version: 2
updates:
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "weekly"
    cooldown:
      default-days: 4
    pull-request-branch-name:
      separator: "-"
  - package-ecosystem: "npm"
    directory: "/"
    open-pull-requests-limit: 10
    schedule:
      interval: "daily"
    cooldown:
      default-days: 4
    pull-request-branch-name:
      separator: "-"
# Custom settings:
    groups:
      eslint:
        dependency-type: "development"
        patterns:
          - "eslint*"
          - "@typescript-eslint/*"
    ignore:
      - dependency-name: "@types/node"
        update-types: ["version-update:semver-major"]
      - dependency-name: "eslint*"
        update-types: ["version-update:semver-patch"]
      - dependency-name: "@typescript-eslint/*"
        update-types: ["version-update:semver-patch"]
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "weekly"
    target-branch: "gh-pages"
    cooldown:
      default-days: 4
    pull-request-branch-name:
      separator: "-"
