# http://eslint.org/docs/user-guide/configuring#ignoring-files-and-directories
apidocs/
coverage/
dist/
examples/
gh-pages/
junitreports/
node_modules/
scripts/typedoc/
stubs

# ignore emitted js
auth/*.js
cloudant/v1.js
lib/*.js
