name: docs
on:
  pull_request:
    branches: ['main']
permissions: {}
jobs:
  docs:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      with:
        persist-credentials: false
    - name: Setup node 18
      uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
      with:
        node-version: '18'
        check-latest: false
        cache: 'npm'
    - name: Install deps
      run: npm ci --no-audit
    - name: Build docs
      run: npm run typedoc
